<h2>CADASTRO FRANQUIAS</h2>

<form action="/franquias/cadastro" method="post">

    <label for="nome">Nome: </label>
    <input class="form-control" type="text" name="nome" id="nome">
    <label for="descricao">Descrição</label>
    <div class="input-group">
        <textarea id="descricao" name="descricao" class="form-control" aria-label="With textarea"></textarea>
    </div>

    <button class="mt-4 btn btn-success px-4" type="submit">Cadastrar</button>
    <a href="/franquias/home" class="btn btn-danger mt-4 mt-2 ms-2 px-4">Cancelar</a>

</form>