<nav class="navbar navbar-expand-lg bg-secondary ">
  <div class="container-fluid">
    <a class="navbar-brand custom-link-logo" href="/">CRUD POSTGRES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link custom-link" aria-current="page" href="/servos_franquia/home">Servos e Franquias</a>
        <a class="nav-link custom-link" href="/servos/home">Servos</a>
        <a class="nav-link custom-link" href="/mestres/home">Mestres</a>
        <a class="nav-link custom-link" href="/franquias/home">Franquias</a>
      </div>
    </div>
  </div>
</nav>