<h2>Cadastro Mestres</h2>

<form action="/mestres/cadastro" method="post">

    <label for="nome">Nome: </label>
    <input class="form-control" type="text" name="nome" id="nome">
    <label for="idade">Idade</label>
    <input class="form-control" type="text" name="idade" id="idade">

    <button class="mt-4 btn btn-success px-4" type="submit">Cadastrar</button>
    <a href="/mestres/home" class="btn btn-danger mt-4 mt-2 ms-2 px-4">Cancelar</a>

</form>