<h1>Sistema baseado na logística de Servos e Mestres da Franquia Fate Series</h1>
<h3>O sistema insere 3 tipos de Dados que são: Servos, Mestre e Franquias. Também consegeue relacionar dados de duas entidades para uma só (relação n:n)</h3>
<p>Felipe Santos Ramos (felipesantosramos2004@gmail.com)</p>

<div style="border: 2px solid red ; width: 100%; height: 100%;">
   
    <div class="btn-group position-absolute bottom-0 start-50 translate-middle-x" role="group" aria-label="Large button group">
        <a target="_blank" style="margin: 10px" href="https://www.linkedin.com/in/felipe-santos-ramos-305813200/"><img src="/icons/bootstrap-icons/linkedin.svg" alt="Linkedin" width="20" height="20"></a>
        <a target="_blank" style="margin: 10px" href="https://www.instagram.com/felipe_emyy4/"><img src="/icons/bootstrap-icons/instagram.svg" alt="Instagram" width="20" height="20"></a>
        <a target="_blank" style="margin: 10px" href="https://www.facebook.com/profile.php?id=100008516886501"><img src="/icons/bootstrap-icons/facebook.svg" alt="Facebook" width="20" height="20" ></a>
    </div>
</div>
